{:source-paths ["src/main" "src/site"]

 :dependencies [[lambdaisland/fetch "1.5.83"]
                [lambdaisland/uri "1.19.155"]
                [reagent "1.2.0"]]

 ;; :dev-http {8080 "public"}

 :builds {:ui {:target :browser
               :devtools {:watch-dir "public"}
               :modules {:main {:init-fn stethoscope.ui/main}}}}}
